html {
  font-family: 'Montserrat', sans-serif;
}

html {
  background: #eeeeee;
  --btn: #777777;
  --colorx: #232323;
}

html[data-theme='dark'] {
  background: #232323;
  --btn: #3cea93;
  --colorx: #fff;
}

html[data-theme='dark'] .heading {
  color: #eeeeee;
  background: #232323;
}

html[data-theme='dark'] .heading h1:nth-child(1) {
  color: #1e1e1e;
}

html[data-theme='dark'] .wrapper {
  background-color: #232323;
}

html[data-theme='dark'] .container {
  color: #aaaaaa;
  border: 3px solid #232323;
}

html[data-theme='dark'] .inset {
  -webkit-box-shadow: inset 4px 4px 6px #1e1e1e, inset -4px -4px 6px #272727;
          box-shadow: inset 4px 4px 6px #1e1e1e, inset -4px -4px 6px #272727;
}

html[data-theme='dark'] .outset {
  -webkit-box-shadow: 4px 4px 6px #1e1e1e, -4px -4px 6px #272727;
          box-shadow: 4px 4px 6px #1e1e1e, -4px -4px 6px #272727;
}

html[data-theme='dark'] .inset-outset {
  -webkit-box-shadow: 4px 4px 6px #1e1e1e, -4px -4px 6px #272727, inset 4px 4px 6px #1e1e1e, inset -4px -4px 6px #272727;
          box-shadow: 4px 4px 6px #1e1e1e, -4px -4px 6px #272727, inset 4px 4px 6px #1e1e1e, inset -4px -4px 6px #272727;
}

html[data-theme='dark'] .padding {
  background-color: #232323;
}

html[data-theme='dark'] .dark-mode-toggle {
  color: #232323;
  background-color: #eeeeee;
}

html[data-theme='dark'] .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5em;
  height: 5em;
  -webkit-box-shadow: 4px 4px 6px #1e1e1e, -4px -4px 6px #272727, inset 4px 4px 6px #1e1e1e, inset -4px -4px 6px #272727;
          box-shadow: 4px 4px 6px #1e1e1e, -4px -4px 6px #272727, inset 4px 4px 6px #1e1e1e, inset -4px -4px 6px #272727;
  border: 4em solid #232323;
  border-radius: 50%;
}

html[data-theme='dark'] .round .ring-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 13em;
  width: 13em;
  border-radius: 50%;
}

html[data-theme='dark'] .round .ring-wrapper .inner-ring {
  position: absolute;
  height: 54%;
  width: 54%;
  border-radius: 50%;
  border: 1em solid #232323;
  background-color: #232323;
  -webkit-box-shadow: inset 4px 4px 6px #1e1e1e, inset -4px -4px 6px #272727;
          box-shadow: inset 4px 4px 6px #1e1e1e, inset -4px -4px 6px #272727;
}

html[data-theme='dark'] .round .ring-wrapper.blue-green {
  background: -webkit-gradient(linear, left bottom, left top, from(#006eff), to(#28ff81));
  background: linear-gradient(to top, #006eff, #28ff81);
}

html[data-theme='dark'] .round .ring-wrapper.red-orange {
  background: -webkit-gradient(linear, left bottom, left top, from(red), to(orange));
  background: linear-gradient(to top, red, orange);
}

html[data-theme='dark'] .button {
  background-color: #232323;
  color: #eeeeee;
}

html[data-theme='dark'] .editor-tools ul .button a {
  color: #eeeeee;
}

html[data-theme='dark'] .color-picker input[type=range]::-webkit-slider-thumb {
  border-color: #232323;
}

html[data-theme='dark'] .padding {
  background: #232323;
}

body {
  margin: 0;
}

hr {
  border-style: solid;
}

.dark-mode-toggle {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  background: #232323;
  padding: 0.7em;
  border-radius: 15px;
  color: #eeeeee;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #232323;
  font-family: 'Prompt', sans-serif;
  font-size: 24px;
  padding: 5em 0;
  background: #eeeeee;
}

.heading h1 {
  display: block;
  position: relative;
  margin-top: 0;
  margin-left: 0.1em;
}

.heading h1:nth-child(1) {
  color: #e1e1e1;
  position: absolute;
  margin-top: 0.1em;
  margin-left: 0em;
}

.padding {
  height: 10em;
  width: 100%;
  background-color: #eeeeee;
}

.wrapper {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eeeeee;
}

.container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1em;
  width: auto;
  padding: 1em;
  color: #232323;
  border: 3px solid #eeeeee;
  border-radius: 15px;
}

.container p {
  font-style: italic;
}

.container.left {
  float: left;
}

.container.right {
  float: right;
}

.inset {
  -webkit-box-shadow: inset 4px 4px 6px #e1e1e1, inset -4px -4px 6px #f5f5f5;
          box-shadow: inset 4px 4px 6px #e1e1e1, inset -4px -4px 6px #f5f5f5;
}

.outset {
  -webkit-box-shadow: 4px 4px 6px #e1e1e1, -4px -4px 6px #f5f5f5;
          box-shadow: 4px 4px 6px #e1e1e1, -4px -4px 6px #f5f5f5;
}

.inset-outset {
  -webkit-box-shadow: 4px 4px 6px #e1e1e1, -4px -4px 6px #f5f5f5, inset 4px 4px 6px #e1e1e1, inset -4px -4px 6px #f5f5f5;
          box-shadow: 4px 4px 6px #e1e1e1, -4px -4px 6px #f5f5f5, inset 4px 4px 6px #e1e1e1, inset -4px -4px 6px #f5f5f5;
}

.round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5em;
  height: 5em;
  -webkit-box-shadow: 4px 4px 6px #e1e1e1, -4px -4px 6px #f5f5f5, inset 4px 4px 6px #e1e1e1, inset -4px -4px 6px #f5f5f5;
          box-shadow: 4px 4px 6px #e1e1e1, -4px -4px 6px #f5f5f5, inset 4px 4px 6px #e1e1e1, inset -4px -4px 6px #f5f5f5;
  border: 4em solid #eeeeee;
  border-radius: 50%;
}

.round .ring-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 13em;
  width: 13em;
  border-radius: 50%;
}

.round .ring-wrapper .inner-ring {
  position: absolute;
  height: 54%;
  width: 54%;
  border-radius: 50%;
  border: 1em solid #eeeeee;
  background-color: #eeeeee;
  -webkit-box-shadow: inset 4px 4px 6px #e1e1e1, inset -4px -4px 6px #f5f5f5;
          box-shadow: inset 4px 4px 6px #e1e1e1, inset -4px -4px 6px #f5f5f5;
}

.round .ring-wrapper.blue-green {
  background: -webkit-gradient(linear, left bottom, left top, from(#006eff), to(#28ff81));
  background: linear-gradient(to top, #006eff, #28ff81);
}

.round .ring-wrapper.red-orange {
  background: -webkit-gradient(linear, left bottom, left top, from(red), to(orange));
  background: linear-gradient(to top, red, orange);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  padding: 8px;
  border-radius: 15px;
  background-color: #eeeeee;
  color: #232323;
}

.editor {
  width: 100%;
  height: 50em;
  background: #eaeaea;
  border-radius: 15px;
}

.editor-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  height: 3em;
}

.editor-tools ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.editor-tools ul .button {
  width: 5em;
}

.editor-tools ul .button a {
  text-decoration: none;
  font-weight: bold;
}

.editor-tools ul .button a:visited {
  color: #232323;
}

.umbrella,
.color {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 6.5em);
  top: calc(50% - 6.5em);
  width: 13em;
  height: 13em;
}

.wheel {
  position: absolute;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 13em;
  width: 13em;
  overflow: hidden;
}

.umbrella {
  position: relative;
  filter: blur(0.7em);
  -webkit-filter: blur(0.7em);
  transform: scale(1.35);
  -webkit-transform: scale(1.35);
}

.color,
.color:nth-child(n+7):after {
  clip: rect(0, 13em, 13em, 6.5em);
}

.color:after,
.color:nth-child(n+7) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 6.5em);
  top: calc(50% - 6.5em);
  width: 13em;
  height: 13em;
  clip: rect(0, 6.5em, 13em, 0);
}

.color:nth-child(1):after {
  background-color: #9ed110;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 13;
}

.color:nth-child(2):after {
  background-color: #50b517;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  z-index: 12;
}

.color:nth-child(3):after {
  background-color: #31cc7e;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 11;
}

.color:nth-child(4):after {
  background-color: #31a8cc;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  z-index: 10;
}

.color:nth-child(5):after {
  background-color: #476eaf;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  z-index: 9;
}

.color:nth-child(6):after {
  background-color: #9f49ac;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 8;
}

.color:nth-child(7):after {
  background-color: #cc42a2;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.color:nth-child(8):after {
  background-color: #ff3ba7;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.color:nth-child(9):after {
  background-color: #ff5800;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.color:nth-child(10):after {
  background-color: #ff8100;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.color:nth-child(11):after {
  background-color: #fec300;
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.color:nth-child(12):after {
  background-color: #ffe600;
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

.color:nth-child(13):after {
  background-color: #ede604;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.ring-selector {
  position: absolute;
  width: 3em;
  height: 1em;
  border-radius: 1.5em;
  border: 3px solid #232323;
  margin-left: 5em;
  margin-top: 2.1em;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.color-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-picker .preview {
  width: 20em;
  height: calc(10em - 8px);
  padding: 8px;
  background-color: #31a8cc;
  background-clip: content-box;
}

.color-picker .slider {
  width: calc(1.5em + 5px);
  height: 10em;
  padding: 0;
  border: 3px solid #eeeeee;
  background-clip: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-picker .slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 8px;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(white));
  background: linear-gradient(to top, black, white);
}

.color-picker input[type=range] {
  position: absolute;
  width: 11em;
  height: calc(1.5em);
  background: transparent;
  border-radius: 5px;
  -webkit-appearance: none;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.color-picker input[type=range]::-webkit-slider-runnable-track {
  border: transparent;
  border-radius: 3px;
}

.color-picker input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 3em;
  width: 1.5em;
  margin-top: 0.3em;
  border: 3px solid #eeeeee;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-radius: 7px;
  cursor: pointer;
}

.color-picker input[type=range]:focus {
  outline: transparent;
}

.color-picker input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border-radius: 3px;
}

input[type=checkbox] {
  visibility: hidden;
  height: 0;
  width: 0;
}

label {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--btn);
}

label:after {
  border-radius: 50%;
  position: absolute;
  content: '';
  background: #fff;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 4px;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

input:checked + label {
  background: #3cea93;
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

html,
body,
label,
span,
input,
h1,
p,
div,
ul,
li,
a,
hr {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/*# sourceMappingURL=style.css.map */