//GLOBALS
$l_page_bg: #eeeeee;
$d_page_bg: #232323;
// LIGHT MODE
$l_dark_shadow: #b8b8b8;
$l_light_shadow: #fafafa;
//DARK MODE
$d_dark_shadow: #111111;
$d_light_shadow: #2a2a2a;
//WRAPPER INSET OUTSET
$c_width: 100%;
$c_height: 40em;
//RING
$red-orange: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 165, 0));
$blue-green: linear-gradient(to top, rgb(0, 110, 255), rgb(40, 255, 129));
html {
    font-family: 'Montserrat', sans-serif;
}

html {
    background: $l_page_bg;
    --btn: #777777;
    --colorx: #232323;
}

html[data-theme='dark'] {
    background: $d_page_bg;
    --btn: #3cea93;
    --colorx: #fff;
    .heading {
        color: $l_page_bg;
        background: $d_page_bg;
        h1:nth-child(1) {
            color: $d_dark_shadow;
        }
    }
    .wrapper {
        background-color: #232323;
    }
    .container {
        color: #aaaaaa;
        border: 3px solid #232323;
    }
    .inset {
        box-shadow: inset 4px 4px 4px $d_dark_shadow, inset -4px -4px 4px $d_light_shadow;
    }
    .outset {
        box-shadow: 4px 4px 4px $d_dark_shadow, -4px -4px 4px $d_light_shadow;
    }
    .inset-outset {
        box-shadow: 4px 4px 4px $d_dark_shadow, -4px -4px 4px $d_light_shadow, inset 4px 4px 4px $d_dark_shadow, inset -4px -4px 4px $d_light_shadow;
    }
    .padding {
        background-color: $d_page_bg;
    }
    .dark-mode-toggle {
        color: $d_page_bg;
        background-color: $l_page_bg;
    }
    .round {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5em;
        height: 5em;
        box-shadow: 4px 4px 4px $d_dark_shadow, -4px -4px 4px $d_light_shadow, inset 4px 4px 4px $d_dark_shadow, inset -4px -4px 4px $d_light_shadow;
        border: 4em solid $d_page_bg;
        border-radius: 50%;
        .ring-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            height: 13em;
            width: 13em;
            border-radius: 50%;
            .inner-ring {
                position: absolute;
                height: 54%;
                width: 54%;
                border-radius: 50%;
                border: 1em solid $d_page_bg;
                background-color: $d_page_bg;
                box-shadow: inset 4px 4px 4px $d_dark_shadow, inset -4px -4px 4px $d_light_shadow;
            }
            &.blue-green {
                background: $blue-green;
            }
            &.red-orange {
                background: $red-orange;
            }
        }
    }
    .button {
        background-color: $d_page_bg;
        color: $l_page_bg;
    }
    .editor-tools ul .button a {
        color: $l_page_bg;
    }
    .color-picker {
        input[type=range]::-webkit-slider-thumb {
            border-color: $d_page_bg;
        }
    }
    .padding {
        background: $d_page_bg;
    }
}

body {
    margin: 0;
}

hr {
    border-style: solid;
}

.dark-mode-toggle {
    position: fixed;
    top: 3em;
    right: 3em;
    background: $d_page_bg;
    padding: 0.7em;
    border-radius: 15px;
    color: $l_page_bg;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $d_page_bg;
    font-family: 'Prompt', sans-serif;
    font-size: 24px;
    padding: 5em 0;
    background: $l_page_bg;
    h1 {
        display: block;
        position: relative;
        margin-top: 0;
        margin-left: 0.1em;
        &:nth-child(1) {
            color: $l_dark_shadow;
            position: absolute;
            margin-top: 0.1em;
            margin-left: 0em;
        }
    }
}

.padding {
    height: 10em;
    width: 100%;
    background-color: $l_page_bg;
}

.wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
}

.container {
    align-self: center;
    margin: 1em;
    width: auto;
    padding: 1em;
    color: #232323;
    border: 3px solid #eeeeee;
    border-radius: 15px;
    p {
        font-style: italic;
    }

    &.left {
        float: left;
    }

    &.right {
        float: right;
    }
}

.inset {
    box-shadow: inset 4px 4px 4px $l_dark_shadow, inset -4px -4px 4px $l_light_shadow;
}

.outset {
    box-shadow: 4px 4px 4px $l_dark_shadow, -4px -4px 4px $l_light_shadow;
}

.inset-outset {
    box-shadow: 4px 4px 4px $l_dark_shadow, -4px -4px 4px $l_light_shadow, inset 4px 4px 4px $l_dark_shadow, inset -4px -4px 4px $l_light_shadow;
}

.round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    box-shadow: 4px 4px 4px $l_dark_shadow, -4px -4px 4px $l_light_shadow, inset 4px 4px 4px $l_dark_shadow, inset -4px -4px 4px $l_light_shadow;
    border: 4em solid $l_page_bg;
    border-radius: 50%;
    .ring-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 13em;
        width: 13em;
        border-radius: 50%;
        .inner-ring {
            position: absolute;
            height: 54%;
            width: 54%;
            border-radius: 50%;
            border: 1em solid $l_page_bg;
            background-color: $l_page_bg;
            box-shadow: inset 4px 4px 4px $l_dark_shadow, inset -4px -4px 4px $l_light_shadow;
        }
        &.blue-green {
            background: $blue-green;
        }
        &.red-orange {
            background: $red-orange;
        }
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: $l_page_bg;
    color: $d_page_bg;
}

.editor {
    width: 100%;
    height: 50em;
    background: #eaeaea;
    border-radius: 15px;
}

.editor-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 3em;

    ul {
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
        .button {
            width: 5em;
            a {
                text-decoration: none;
                font-weight: bold;
                &:visited {
                    color: $d_page_bg;
                }
            }
        }
    }
}

.color-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .preview {
        width: 20em;
        height: calc(10em - 8px);
        padding: 8px;
        background-color: rgb(53, 223, 235);
        background-clip: content-box;
    }
    .slider {
        width: 1.5em;
        height: 10em;
        padding: 5px;
        border: 3px solid $l_page_bg;
        background-clip: content-box;
    }
    .slide-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input[type=range] {
        width: 14.3em;
        height: 2em;
        background: linear-gradient(to left, black, $l_page_bg);
        border-radius: 5px;
        -webkit-appearance: none;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg) translate(6.1em, 6.15em);
    }
    input[type=range]::-webkit-slider-runnable-track {
        height: 5px;
        border: transparent;
        border-radius: 3px;
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 3em;
        width: 1.5em;
        border: 3px solid $l_page_bg;
        transition: all 0.1s ease-in-out;
        border-radius: 10px;
        margin-top: -1.2em;
        cursor: pointer;
    }
    input[type=range]:focus {
        outline: transparent;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        width: 10em;
        background: linear-gradient(to left, black, $l_page_bg);
    }
}

input[type=checkbox] {
    visibility: hidden;
    height: 0;
    width: 0;
}

label {
    margin: 0 auto;
    display: flex;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 30px;
    background: var(--btn);
}

label:after {
    border-radius: 50%;
    position: absolute;
    content: '';
    background: #fff;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 4px;
    transition: ease-in-out 200ms;
}

input:checked+label {
    background: #3cea93;
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

html, body, label, span, input, h1, p, div, ul, li, a, hr {
    transition: all 0.1s ease-in-out;
}